NODE_ENV=development
HOST=localhost
PORT=8080
LOG_LEVEL=info
HTTP_LOG_LEVEL=warn
COMMON_RATE_LIMIT_MAX_REQUESTS=1000
COMMON_RATE_LIMIT_WINDOW_MS=1000

DATABASE_URL=postgres://flits:flits@localhost:5432/flits
DATABASE_POOL_MAX=10
